---
title: Home
description:
image: /images/home.jpg
bottom_image: https://www.deutschlandfunkkultur.de/media/thumbs/1/1b3b2bbdd8784129678aa764311803c2v1_max_700x393_b3535db83dc50e27c1bb1392364c95a2.jpg?key=355faa
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Start coding today.</h1>
			<p class="subtext editable">世界に通用する次世代のIT人材を育成する</p>
			<div class="cta button alt"><a href="/join/">無料体験を予約する</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" font color="#0000ff">自主学習の徹底管理</h2>
				<p class="editable">教えるだけでなく、身につけるところまでしっかり指導します。</p>
				<p>　</p>	
			</div>
			<div class="image">
				<img class="editable" src=/images/alan_turing_aged_16.jpg alt="Screenshot"　width="300" height="500" />
			</div>
		</div>
	</section>
	
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" font color="#0000ff">生徒に合わせた</h2>
				<h2 class="editable" font color="#0000ff">カスタマイズコンテンツ</h2>
				<p class="editable">最先端のトピックを生徒のレベルに合わせたオリジナルのスケジュールを組んで指導します。</p>
				
			</div>
			<div class="image">
				<img class="editable" src=/images/pi4.jpg alt="Raspberry Pi"　width="350" height="350" />
			</div>
		</div>
	</section>

	

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable" font color="#0000ff">24時間サポート</h2>
				<p class="editable">学習中に生まれた疑問を即座に解決できるように、弊社ではslackによる24時間のオンラインサポートを行っています。</p>
				<p></p>
			</div>
			<div class="image">
				<img class="editable" src=/images/slack.png alt="Slack logo"　width="300" height="500" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Acquire new literacy today</h2>
				<p class="subtext editable">"The limits of my language mean the limits of my world."</p>
				<p> - Ludwig Wittgenstein </p>
				<div class="cta button alt"><a href="/join/">無料体験を予約する</a></div>
			</div>
		</div>
	</section>
</div>
